*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #000000;
    background-color: #f4f7ff;
}
/* .dark-mode {
    background-color: black;
    color: white;
  } */
.header-div{
display: flex; 
align-items: center;
 margin-left: 50px;
}
.menu img {
    width: 20px;
    height: 20px;
}
.menu :first-child {
    width: 17px;
    height: 17px;
}
#container {
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: auto;
}
.githup-icon{
  width: 40px;  
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #161b22;
    height: 60px; 
    width: 100%;
}

.search_bar {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
  
  .search_bar input[type="text"] {
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  .search_bar button[type="submit"] {
    border-radius:50%;
    width: 2rem;
    height: 2rem;
    background-color: #ff8400;
    font-size: 20px;
    cursor: pointer;
    margin-left: 0.5rem;
    color: #ffffff;
  }
  
.follow-div{
    color: #4b4b4b;
}


.menu {
    display: flex;
    margin-top: 20px;
    gap: 1rem;
    margin-right: 10rem;
 
}
.menu a { 
    text-decoration: none;
    color: #fff;
}
.menu a:hover{ 
  
    color: #ff8400;
}
nav{
    display: flex;
    height: 70px;
    border-bottom: #ff84004c 1px solid;
    align-items: center;
    justify-content: center;
    gap: 3rem;  
    color: #000000;

}
nav img,
nav a {
        margin: 5px;
        color: #000000;
        text-decoration: none;
      }
nav a:hover {
 
color: #ff8400;
      
}

 main {
display: flex;
justify-content: center;
margin: 3% 10%;
} 

.left-main{
    width: 30%;
    display: grid;
    gap: 1rem;
    align-items: end;
    margin-bottom: 50px;
   
}
#avatar img{
    width: 70%;
}
.name{
    margin-left: 0.5rem;
    margin-top: 10px;
    font-size: 24px;

}
.box-container{
    width: 100%;
}
.box-container h3 {
    font-weight: 300;
    margin-bottom: 50px;
    font-size: 24px;
}
#boxes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 10px;
}

.repo{
    width: 100%;
    height: 100px;
    border: 1px solid #fff6f6;
    border-radius: 5px;
    padding: 3%;
    
}
#follow{
    width: 70%;
    height: 30px;
    margin-top: 10px;
    background-color: #161b22;
    color: white;
    /* padding: 8px 16px; */
    border: none;
    border-radius: 15px;
  
    cursor: pointer;

}

#follow:hover {
    background-color: #ff8400; 
  }
.repos{

width:100%;
box-shadow: rgba(60, 60, 60, 0.15) 0px 3px 3px 0px; height: 120px;
border-radius: 10px;
padding: 10px 0px 0px 10px;
background-color: #ffffff;

}
.reponame{
    color: rgb(24, 24, 24);
    text-decoration: none;
    margin-left: 5px;
   
}
.profile_img{
    border-radius: 50%;
}
#avatar{
    display: grid;
    gap: 15px;
  
   
 
}


.lang{
    margin-top: 55px;
    margin-left: 5px;
}
.colorCircle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 5px;
}

.smallcontainer{
    display: flex;
}

#follow-div{
    align-self: flex-start;
    display: flex;
    gap: 1rem;
    font-size: 14px;
}

@media (width: 768px){
    #follow-div{
     display: flex;
     flex-direction: column;
     gap: 0.1rem;
    margin-left: 0.8rem;
     
    }
    #avatar{
        display: grid;
        gap: 15px;
        
        
}
.name{
    margin-left: 0rem;
    margin-top: 10px;
    font-size: 20px;
}
}
  @media (max-width: 600px) {

    header{
        display: block;
        gap: 1rem;
        justify-content: space-between;
        background-color: #161b22;
        height: 60px; 
        width: 100%;
        
    }
    .githup-icon{
        margin-top: 10px;
    }
    .name{
        font-size: 16px;
        margin-top:10px;
       justify-self: center;
    }
    main{
        margin-top: 50px;
    }
 
    .box-container h3 {
        font-weight: 300;
        margin-bottom: 20px;
        font-size: 20px;
        margin-left: 1rem;
    }
    .left-main{
        width: 30%;
        gap: 0.1rem; 
        display: block;
    }
    #boxes{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
        margin-top: 10px;
        margin-left: 1rem;
    }
    .menu {
        display: flex;
        margin-top:10px;
        gap: 0.1rem;
      
    }
    .menu a { 
        text-decoration: none;
        color: #fff;
        font-size: 10px;
    }
    nav {
        display: flex;
        height: 50px;
        border-bottom: #ff84004c 1px solid;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;  
        color: #000000;
        
    }
    nav a {
     font-size: 10px;
        
    }
    .search_bar button[type="submit"] {
       
        width: 1.5rem;
        height: 1.5rem;
        font-size: 15px;
        margin-left: 0.5rem;
   
         }
    #follow-div{
        font-size: 12px;
        margin-left: 25px;
        margin-top: 25px;
         }
    #follow{
       justify-self: center;
         }
    #avatar img {
        justify-self: center;
    }
    .search_bar {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        margin-top: 15px;
      }
         

  }
  @media (max-width: 480px) {
    
    header{
        display: flex;
        gap: 0.1rem;
        justify-content: space-between;
        background-color: #161b22;
        height: 60px; 
        width: 100%;
    }
    .name{

        font-size: 120%;
        margin-bottom: 17px;
        justify-self: start;
        margin-left: 1px;
        
    }
 
    .box-container h3 {
        font-weight: 300;
        margin-bottom: 12px;
        font-size: 14px;
        margin-left: 2rem;
    }
    .left-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #boxes{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
        margin-top: 10px;
        margin-left: 2rem;
    }
    .header-div{
        display: flex; 
        align-items: center;
        margin-left: 20px;
        margin-bottom: 12px;
        }
    #search {
        width: 70px;
        height: 20px;
        font-size: 10px;
    }

    .menu {
        display: flex;
        margin-top: 20px;
        gap: 0.5rem;
        margin-right: 2rem;
    }
    .menu a { 
        text-decoration: none;
        color: #fff;
        font-size: 10px;
        margin-left: 0.5rem;
        margin-top: 0.3rem;
    }
    .githup-icon{
        width: 25px;  
      }
      main {
        display: block;
        margin: 10% 10%;
        height: 10px;
     
        }
        #follow{
            width: 160%;
            height: 30px;
            background-color: #161b22;
            color: white;
            border: none;
            border-radius: 15px;
     margin-left: 7rem;
            cursor: pointer;
            align-self: center;
margin-top: 1rem;
          
        
        }
        #follow-div p{
            font-size: 12px;
            color: #4b4b4b;
        }
        #follow-div {
          margin-top: 7px;
          justify-content: center;
          display: flex;
          gap: 20px;


        }
        .links{
            font-size: 12px;
        }
        .link2{
            font-size: 8px;
        }
        .reponame{
            color: rgb(24, 24, 24);
            text-decoration: none;
            margin-left: 5px;
            font-size: 12px;
           
        }
   .lang{
    font-size: 12px;
    margin-top: 65px;
   }
   .box-container{
    width: 100%;
    margin-top: 1px;
}
/* .test{
    display: grid;
    margin-top: 9.9rem;
} */
#avatar img{
    width: 80%;
}
#avatar {
    display:grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.3fr 0.3fr;
    align-items: center;
    gap: 1px;
    justify-content: center;
  }
  .colorCircle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 67px;
    margin-left: 5px;
}
header img {
    width: 30px;
    height: 30px;
   }
    .menu img{
        display: none;
    }
    .menu  {
        margin-left:3rem;
    }
}