*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #000000;
    background-color: #f4f7ff;
 
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #161b22;
    height: 60px; 
    width: 100%;
}
.menu img {
    width: 20px;
    height: 20px;
}
.search_bar {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
  
.search_bar input[type="text"] {
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
.search_bar button[type="submit"] {
 border-radius:50%;
 width: 2rem;
 height: 2rem;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 0.5rem;
    color: #3d3d3d;
  }
  

.right_side_icons{
    width: 25%;
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;

}
.right_side_icons img {
    width: 18px;

}

.menu {
    display: flex;
    margin-top: 20px;
    gap: 1rem;
    margin-right: 10rem;
}
.menu a { 
    text-decoration: none;
    color: #fff;
}
.menu :first-child {
    width: 17px;
    height: 17px;
}
nav{
    display: flex;
    height: 70px;
    border-bottom: #303030 1px solid;
    align-items: center;
    justify-content: center;
    gap: 3rem;  
}

nav a{
    text-decoration: none;
    color: #fff;
}




#container{
    width:100%;
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr ;
    margin: 15px auto 0px auto;
    background-color: #f4f7ff;
    height:500px;
  

}
#card1{
    width:90% ;
    height: 350px ;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
}
    
#card2{
    width:90% ;
    height: 350px ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 10PX;
}

.profile_img2{
    border-radius: 50%;
  
}


#winner_btn {
    background-color: #161b22; 
    color: white;
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
    width:60%;
    height: 35px;
    border-radius:10px;
    align-self: center;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 
  }
  
#winner_btn:hover {
    background-color: #ff8400; 
  }

.playerone {
display: flex;
align-items: center;
justify-content: center;

}

.playerone input[type="text"] {
padding: 8px;
font-size: 16px;
border: 1px solid #ccc;
border-radius:15px;

}

.playerone .player1_button {
background-color: #ff8400;
color: white;
padding: 8px 16px;
border: none;
border-radius: 15px;
margin-left: 8px;
cursor: pointer;
}

.playerone .player1_button:hover {
background-color: #161b22;
}
.player2 {
display: flex;
align-items: center;
justify-content: center;

}

.player2 input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius:15px;
}

.player2 .player_button2 {
    background-color: #ff8400;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    margin-left: 8px;
    cursor: pointer;
}

.player2 .player_button2:hover {
background-color: #161b22;
}

#playerOneResult{
    text-align: center;
}
#playerTwoResult{
    text-align: center;
}

@media (max-width: 600px) {
   
#container{
    width:100%;
    max-width: 980px;
    display: grid;
    /* grid-template-columns: repeat(1,1fr); */
    /* margin: 15px auto 0px auto; */
    background-color: #f4f7ff;
    /* height:600px; */
    gap: 1rem;
  
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
       
        grid-auto-flow: row;
        grid-template-areas:
        "winner_btn"
          "playerOneResult"
          "card1"
          "player1_button"
          "player2_button"
          "playerTwoResult"
          "card2"
          
          ;
      }
      
      #playerOneResult { grid-area: playerOneResult; }
      
      #card1 { grid-area: card1; }
      
      .player1_button { grid-area: player1_button; }
      
      #playerTwoResult { grid-area: playerTwoResult; }
      
      #card2 { grid-area: card2; }
      
      .player2_button { grid-area: player2_button; }

      #winner_btn { grid-area: winner_btn ; }
      

}
 #card1{
    margin: auto;
 }
 #card2{
    margin: auto;
 }

